.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.closeDialog {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.closeDialog:hover {
    background: #00d9ff;
}

.calendar-box {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #444;
    position: absolute;
    width: 250px;
    padding: 0 5px;
    z-index: 999999;
}

.calendar-box select.calendar-month {
    width: 90px;
}

.calendar-box select.calendar-year {
    width: 70px;
}

.calendar-box .calendar-cancel {
    width: 100%;
}

.calendar-box table td {
    width: 14%;
}

.calendar-box .calendar-title {
    text-align: center;
}

.calendar-box a {
    text-decoration: none;
    color: #000;

}

.calendar-box .today a {
    padding: 0 5px;
    margin-left: -5px;
    background-color: #bfad90;
}

.calendar-box .selected a {
    padding: 0 5px;
    margin-left: -5px;
    background-color: #90a2bf;
}

/*Всплывающий скриншот*/
.thumbnail {
    position: relative;
    z-index: 0;
}

.thumbnail:hover {
    background-color: transparent;
    z-index: 50;
}

.thumbnail span {
    /*CSS for enlarged image*/
    position: absolute;
    background-color: #3d3d3d;
    padding: 5px;
    left: -1000px;
    border: 1px solid white;
    visibility: hidden;
    color: Yellow;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.thumbnail span img {
    /*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
}

.thumbnail:hover span {
    /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 0;
    left: 60px; /*position where enlarged image should offset horizontally */
}

/*---------------------*/
.helpBox {
    background: #fff;
    border: 1px solid #666;
    width: 200px;
}

.helpTitle {
    background: #ff9900;
    width: 100%;
    color: #000;
}

.helpText {
    padding: 5px;
}

.colortext {
    background: #ff9900;
    color: red; /* Красный цвет выделения */
}

#myModal {
    display: none;
}

#myModal .tab-pane .row {
    margin: 3px 0;
    width: 100%;
    float: none;
    padding: 0;
    float: none;
    clear: both;
    display: block;
}

#myModal .tab-pane .row label {
    display: block;
    float: left;
    cursor: pointer;
    width: 200px;
}