<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>


        <property name="connection.driver_class">org.postgresql.Driver</property>

        <!--<property name="connection.url">jdbc:postgresql://127.0.0.1:5432/Tickets</property>-->
        <!--<property name="connection.password">root</property>-->

        <property name="connection.url">jdbc:postgresql://80.90.239.40:5432/tickets</property>
        <property name="connection.password">javaartr2d2</property>-->
        <property name="databasename">tickets</property>
        <property name="connection.username">postgres</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.schemaname">public</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>


        <!--<property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/Tickets</property>
        <property name="databasename">Tickets</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">1111</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.schemaname">public</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>-->



        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="connection.url">jdbc:mysql://80.90.239.40:3306/tickets</property>-->
        <!--<property name="databasename">tickets</property>-->
        <!--<property name="connection.username">javaart</property>-->
        <!--<property name="connection.password">javaartr2d2</property>-->
        <!--<property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <!--<property name="hibernate.connection.CharSet">utf8</property>-->
        <!--<property name="hibernate.connection.useUnicode">true</property>-->
        <!--<property name="hibernate.connection.characterEncoding">utf8</property>-->


          <!--try heroku-->
        <!--<property name="connection.driver_class">org.postgresql.Driver</property>-->
        <!--<property name="connection.url">jdbc:postgresql://ec2-107-21-100-118.compute-1.amazonaws.com:5432/dep0c8nounfs1ss</property>-->
        <!--<property name="connection.password">irc2-az34m7Gs5ujrCLypqp14v</property>-->
        <!--<property name="databasename">dep0c8nounfs1s</property>-->
        <!--<property name="connection.username">oozmzibvdeqxiw</property>-->
        <!--<property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>-->
        <!--<property name="connection.schemaname">public</property>-->
        <!--<property name="hibernate.connection.characterEncoding">utf8</property>-->

        <property name="connection.pool_size">10</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">100</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.max_statements">10</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.timeout">100</property>
        <mapping class="org.JavaArt.TicketManager.entities.Client"/>
        <mapping class="org.JavaArt.TicketManager.entities.Event"/>
        <mapping class="org.JavaArt.TicketManager.entities.Ticket"/>
        <mapping class="org.JavaArt.TicketManager.entities.Sector"/>
        <mapping class="org.JavaArt.TicketManager.entities.SectorDefaults"/>
        <mapping class="org.JavaArt.TicketManager.entities.Operator"/>

    </session-factory>
</hibernate-configuration>