<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http pattern="/resources/css/*" security="none" />
    <http pattern="/resources/js/*" security="none" />
    <http pattern="/resources/ico/*" security="none" />
    <http pattern="/favicon.ico" security="none" />


    <http auto-config="true">
        <intercept-url pattern="/login.do" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/**/**" access="ROLE_USER"/>
        <access-denied-handler error-page="/login.do" />
        <form-login
                login-page="/login.do"
                default-target-url="/"
                authentication-failure-url="/login.do?error"
                username-parameter="username"
                password-parameter="password"
                authentication-failure-handler-ref="userNameCachingAuthenticationFailureHandler"/>
        <!--<logout logout-success-url="/login.do?logout" />-->
        <!-- enable csrf protection -->
        <!--<csrf/>-->
    </http>


    <authentication-manager>
        <authentication-provider user-service-ref="operatorService">
        </authentication-provider>
    </authentication-manager>
    <beans:bean id="userNameCachingAuthenticationFailureHandler" class="org.JavaArt.TicketManager.service.UserNameCachingAuthenticationFailureHandler">
        <beans:property name="defaultFailureUrl" value="/login.do?error=true"/>
    </beans:bean>
</beans:beans>
