<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <display-name>TicketManager</display-name>
    <welcome-file-list>
        <welcome-file>WEB-INF/views/header.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/action-servlet.xml</param-value>
    </context-param>
    <listener>
        <!--&lt;!&ndash;<listener-class>&ndash;&gt;-->
            <!--&lt;!&ndash;org.springframework.web.context.ContextLoaderListener&ndash;&gt;-->
        <!--&lt;!&ndash;</listener-class>&ndash;&gt;-->
        <listener-class>
            org.JavaArt.TicketManager.service.ThreadService
        </listener-class>
    </listener>
</web-app>
